<div class="os-phrases" id="os-phrases">
   <h2 class="kdsc1">Students Think it’s Too Difficult</h2>
   <h2 class="kdsc2">They Presume That They’ll Fail</h2>
   <h2 class="kdsc3">They Think They’re Not Meant To Be Developer</h2>
   <h2 class="kdsc4">But With Us</h2>
   <h2 class="kdsc5">You Don't Have To Scare Of Coding</h2>
   <h2 class="kdsc6">As We Will Take Care Of That</h2>
   <h2 class="kdsc7">KODESCARE</h2>
</div>
