<div class="os-phrases" id="os-phrases">
   <h2 class="kdsc1">Student Think it’s Too Difficult</h2>
   <h2 class="kdsc2">They Presume That They’ll Fail</h2>
   <h2 class="kdsc3">They Think They’re Not Meant to Code</h2>
   <h2 class="kdsc4">But with us</h2>
   <h2 class="kdsc5">you don't have to scare of code</h2>
   <h2 class="kdsc6">as we will take care of that</h2>
   <h2 class="kdsc7">KODESCARE</h2>
</div>
