<!-- Modal -->
<div id="corporate_training" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>
          Adroit Corporate Training, how I come up with this training classes? it's a short story based on some real facts.
        </p>
        <br>
        <p>
          Let me introduce my self, I'm a Sr. ROR developer in one of the IT company located in Indore(M.P.). During the hiring process in our company, I've taken so many interviews of candidates for their technical round. 80% of the candidates mention in there resume, that they have taken certain training from XYZ classes, which was of duration 2,3 or even of 6 months. If anyone adds in their resume that, they have already taken some training, our expectation increases from them. But I always start with the basic technical questions related to there course and training which they have taken.
        </p>
        <br>
        <p>
          But, I found that 80% of students who have taken training don't have basic knowledge about the language/course they have done training. And come out with a similar type of reason that, they have not done or not get proper practical training.
        </p>
        <br>
        <p>
          To me, one thing is very clear that without practical work/tasks no one can understand the proper working flow of any language. Only theoretical classes don't provide you with a deep understanding of the workflow. But when you start work on the things practically you will get lot's of issues wand during resolving those issue, you will learn new things on your own. And that's how work goes on in an IT company, by resolving the things practically not based on some theory.
        </p>
      </div>
    </div>

  </div>
</div>
