<ul class="block-grid seven-up mobile-one-up">
  <li class="text-center">
    <img title="Ruby is a dynamic, reflective, object-oriented, general-purpose programming language. It was designed and developed in the mid-1990s by Yukihiro Matsumoto 'Matz' in Japan. According to its authors, Ruby was influenced by Perl, Smalltalk, Eiffel, Ada, and Lisp. Ruby has been described as an absolutely pure object-oriented scripting language and a genuine attempt to combine the best of everything in the scripting world. Ruby is written in C, and it was designed with Perl and Python capabilities in mind." src="/assets/tech/ruby_custom_made-27fcadbe208ab6d87c41cd722b4837286f1d0b14b5782fca53b1bda414451145.png" alt="Ruby custom made">
  </li>
  <li class="text-center margin-top-3">
    <img title="Rails is a web application development framework written in the Ruby language. It is designed to make programming web applications easier by making assumptions about what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks." src="/assets/tech/rails_trans_scaled-07ed6b00b6f0474ce8729d673804ec5485fdf0ba9475b65efe0d4db44ed035a1.png" alt="Rails trans scaled">
  </li>
  <li class="text-center margin-top-4">
    <img title="JavaScript  an object-oriented computer programming language commonly used to create interactive effects within web browsers. JavaScript is the most popular programming language in the world." src="/assets/tech/js_one_more_trans_scaled-6fe247376fb8bc7b5f284c5275efdd1753b653e0918852ef6436c334ea627ee7.png" alt="Js one more trans scaled">
  </li>
  <li class="text-center margin-top-4">
    <img title="jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers." src="/assets/tech/jQuery_trans_scaled-19dca07d98107193b6f10cef5fad003f8baeea639a62d5708194d0d4cbcbcc2f.png" alt="Jquery trans scaled">
  </li>
  <li class="text-center margin-top-5">
    <img src="/assets/tech/postgresql_trans_scaled-603f2f20dea530643658e8c64e3f37a8f1d2e82009fcade476dc64053d4b35ac.png" alt="Postgresql trans scaled">
  </li>
  <li class="text-center" style="margin-top: 6%;">
    <img src="/assets/tech/mysql_trans_scaled-119cb971e8eb6b5d822e1fa9869ca35284f2b82ea16b5654839974724b95b6d8.png" alt="Mysql">
  </li>
  <li class="text-center margin-top-5">
    <img src="/assets/tech/sidekiq_trans_scaled-cb250eebddb372cc924694e2ccdacd512246fdcfc3fc561c739102acd66f1d7b.png" alt="Sidekiq trans scaled">
  </li>
  <li class="text-center margin-top-4">
    <img src="/assets/tech/stripe_trans_scaled-d12172de8bc57ee40017b4579f417d0d2681c4b0b91b11656792679663edd965.png" alt="Stripe trans scaled">
  </li>
  <li class="text-center margin-top-4">
    <img src="/assets/tech/heroku_trans_scaled-49199eb255b196c447b255540aeb98bb99c14c1ce65215fc56e6ca4b7246ab49.png" alt="Heroku trans scaled">
  </li>
  <li class="text-center margin-top-2">
    <img src="/assets/tech/twilio_trans_scaled-04c0f9b571de881c3973845f83d061d3ac19660ed2b09218563a7eb871e605c5.png" alt="Twilio trans scaled">
  </li>
  <li class="text-center margin-top-1">
    <img src="/assets/tech/mandrill_trans_scaled-a296a9e21ebaebaa0c7b05024e7f2437374b203da7e3231348bf3f47e0f9c4ea.png" alt="Mandrill trans scaled">
  </li>
  <li class="text-center margin-top-3">
    <img src="/assets/tech/sendgrid_trans_scaled-e88d8db442863cb6e6e7ab3ff859ad4b025a804a5ef2b47a6749894e40edc880.png" alt="Sendgrid trans scaled">
  </li>
  <li class="text-center margin-top-4">
    <img src="/assets/tech/mailchimp_trans_scaled-db69388afa0b7be2803182ac1cf1a117c86e2dba1af434b0f4f64ff598389e23.png" alt="Mailchimp trans scaled">
  </li>
  <li class="text-center margin-top-2">
    <img src="/assets/tech/github_trans_scaled-e7b80dbee428c1a1b7369fb642f6645f969d31cf5735ed83535af412ffea5128.png" alt="Github trans scaled">
  </li>
  <li class="text-center margin-top-4">
    s<img src="/assets/tech/bitbucket_trans_scaled-97f9946ad45797464e2a551c8fe8b569fcdac94db91628370ce53d784ded4808.png" alt="Bitbucket trans scaled">
  </li>
</ul>









