<div id="trending" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 95%;">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Trending currently</h3>
        <%= image_tag "/assets/trending.jpeg", style: 'margin-top: 0;' %>
      </div>
      <div class="">
      </div>
    </div>
  </div>
</div>
