<div id="whatWeAreOffering" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>
          We are providing <b>1-week reimbursement classes</b>, which means a student can withdraw his/her enrollment from the course within a week and we will <b>return them complete fee of course</b> paid by them, without any charges or deduction.
          <br><br>
          After 1st week, if any student wants to withdraw his/her enrollment from the course, then we will <B>refund him/her the remaining days fee</B>.
        </p>
      </div>
      <div class="">
      </div>
    </div>
  </div>
</div>
