<div class="about_detail_section">
    <div class="container">
       <div class="box">
          <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="abt_img_box">
                   <div class="abut_img">
                      <%=image_tag "about_img.jpg" ,class: "img-fluid" %>
                   </div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="abt_text">
                   <p>We are a team of highly experienced developers, who have around 4 years of experience in Ruby on Rails (ROR). We are professionals who are already working in an IT company and we are aware of the actual training process of the corporate world. We are experienced in providing training to freshers in our company and have come up with this idea to provide the same to freshers, who are looking for Job.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>

<div class="abt_box_sectn">
    <div class="container">
       <div class="abt_bx_info">
          <div class="row">
             <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <div class="abt_heading">
                   <h4>OUR OFFICE LOCATION</h4>
                   <%=image_tag "road.jpg" ,class: "img-fluid" %>
                </div>
             </div>
             <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="abt_box_dtl">
                   <div class="abt_info">
                      <p> <b class="info_loc"><span>I</span>ndore</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="choose_hdng">
          <h2>Why Choose Kodescare</h2>
       </div>
       <div class="abt_bx_info1">
          <div class="row">
             <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="abt_box_dtl">
                   <div class="abt_info">
                      <p>We only deal in providing corporate training in Ruby on Rails. By this, you can easily compare us with other institutes who work on multiple languages. As the one who has specialization in any specific language can provide you better guidance and training as compared to one who deals with multiple work and languages. With us ball is in your court!</p>
                   </div>
                </div>
             </div>
             <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <div class="abt_heading">
                   <h4>World Class Training</h4>
                   <%=image_tag "Training.png" ,class: "img-fluid" %>
                </div>
             </div>
          </div>
       </div>
       <div class="abt_bx_info">
          <div class="row">
             <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                <div class="abt_heading">
                   <h4>Experienced Techies</h4>
                   <%=image_tag "faculty.png" ,class: "img-fluid"%>
                </div>
             </div>
             <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="abt_box_dtl">
                   <div class="abt_info">
                      <p> We have a team of experienced developers who are expert in their stacks. They knows the actual requirments as they are dealing clients on daily basis.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>
