<div class="container-fluid">
  <a class="navbar-brand logo_img" href="javascript:;">
    <%=image_tag "logo.png" ,class: "img-fluid", style: "position: absolute;"%>
  </a>
</div>
<div class="apply_form">
<%= form_for @general_information do |f| %>
  <%= render "#{@general_information.current_step }_step", :f => f %>  
<% end %>
</div>
